@import "@styles/variables.scss";

.main {
  margin-top: 20px;
}

.title {
  font-size: 28px;
  font-family: $special-font;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  &.small {
    grid-template-columns: 1fr;
    gap: 200px;
    margin-bottom: 100px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    &.small {
      grid-template-columns: 1fr;
      gap: 25px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;

    &.small {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.item {
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.loader {
  display: block;
  width: 100%;
  color: $tundora;
  color: $special-font;
  font-size: 14px;
}
