@import "@styles/variables.scss";

.main {
  & :global(#ReactSimpleImageViewer) {
    z-index: 120;
  }
}

.image_wrapper {
  width: 100%;
  height: 300px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 60vh;
  }
}

.image {
  object-fit: contain;
}

.sub_image_wrapper {
  width: 100%;
  height: 50px;
  position: relative;
}

.sub_image {
  object-fit: cover;
}

.navigation {
  margin-top: 10px;
}
