@import "@styles/variables.scss";

.main {
  & :global(#ReactSimpleImageViewer) {
    z-index: 120;
  }

  & :global(.splide__pagination) {
    bottom: 0px;
  }

  & :global(.splide__pagination__page) {
    bottom: -20px;
    width: 5px;
    height: 5px;
    background-color: $grey;

    &:global(.is-active) {
      background-color: $code-gray;
    }
  }
}

.image_wrapper {
  width: 100%;
  height: 500px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 700px;
  }

  @media (min-width: $desktop-width) {
    height: 65vh;
  }
}

.image {
  object-fit: contain;
}

.sub_image_wrapper {
  width: 100%;
  height: 50px;
  position: relative;
}

.sub_image {
  object-fit: cover;
}

.navigation {
  margin-top: 10px;
}
