@import "@styles/variables.scss";

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}

.item {
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: $tundora;
  }

  &.active {
    & .link {
      color: $tundora;
      cursor: default;
    }

    &::before {
      display: none;
    }
  }
}

.link {
  color: $grey;
  transition: color 300ms ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
  display: inline-block;

  &:hover {
    color: $tundora;
  }
}
