@import "@styles/variables.scss";

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;

  &:hover,
  &:focus {
    & .title {
      color: $basic-black;
    }
  }
}

.background_wrapper {
  position: relative;
  width: 100%;
  height: 225px;

  @media (min-width: $tablet-width) {
    height: 260px;
  }
}

.background {
  object-fit: cover;
  object-position: center center;
}

.title {
  display: block;
  max-width: 185px;
  color: $grey;
  font-size: 16px;
  text-align: center;
  margin-top: 7px;
  transition: color 200ms ease-in-out;
}
