@import "@styles/variables.scss";

.main {
  position: relative;
  padding-bottom: 150px;
  padding-top: 1px;
}

.preview {
  margin-top: calc(100vh + 50px);
}

.three {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $basic-black;
  transform: translate3d(0, 0, 0);
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba($basic-black, 0),
    rgba($basic-black, 0.17) 40.63%,
    rgba($basic-black, 0) 100%
  );
}

.image_wrapper {
  position: absolute;
  left: 0;
  top: 250px;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.title_wrapper {
  position: absolute;
  top: 30vh;
  left: auto;
  right: auto;
  width: 236px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  left: calc(50% - 118px);

  &.visible {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    left: calc(50% - 250px);
    top: 40vh;
  }
}

.title {
  margin: 0;
  text-transform: uppercase;
  font-family: $special-font;
  font-size: 30px;
  color: $basic-white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -0.03em;
}

.link {
  font-size: 14px;
  position: relative;
  // padding: 12px 49px;
  color: $basic-white;
  // border: 1px solid $basic-white;
  // transition: background-color 300ms ease-in-out, border 300ms ease-in-out,
  // color 300ms ease-in-out;

  &::before {
    content: "";
    position: absolute;
    left: -13px;
    top: -27px;
    width: 68px;
    height: 77px;
    // background-image: url("./images/png/sign.png");
    background-image: url("../../public/images/png/sign2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }

  &:hover {
    // background-color: $code-gray;
    // border: 1px solid $code-gray;
  }
}

.background {
  object-fit: contain;
  object-position: center;
}
