@import "@styles/variables.scss";

.main {
  margin-top: 14px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  padding: 18px 0;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.insta {
  width: 22px;
  height: 22px;
  fill: $grey;
  transition: fill 200ms ease-in-out;

  &:hover {
    fill: $basic-black;
  }
}

.item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}
