$default-font: "Times New Roman", serif;
$special-font: "Abril Fatface", serif;

$tablet-width: 768px;
$desktop-width: 1280px;

$basic-white: #fff;
$basic-black: #000;
$background: #fff;

$code-gray: #1c1c1c;
$grey: #888888;
$tundora: #474747;
$tamarillo: #931111;
$forest-green: #2da739;
